<!DOCTYPE HTML>
<html>
	<head>
		<title>Home</title>
		<style> 
			* {
				box-sizing: border-box
			}
			
			nav {
				float: left;
				width: 20%;
				padding: 20px;
				background: #fcba03
			}
			
			article {
				float: left;
				width: 80%;
				padding: 20px;
				background: #FF0000
			}
			
			.div1 {
			background-color: white;
			height: 100px;
			}
				
			section::after{
			display: table;
			content: "";
			clear: both;
			}
		</style>
	</head>
	<body style = "background-color:DarkSeaGreen">
		<h1 style = "text-align:center;">Search page</h1>
		<p style = "text-align:center;"> Welcome to the video game search page. </p>
		<p style = "text-align:center;"> Use the selectors to decide what category to search, and use the search bar to specify what your searching for.</p>
		<form method = "POST" autocomplete = "off" style = "text-align:center;">
			<select name = "select" placeholder = "choose category">
				<option value = "games">Games</option>
				<option value = "developers">Developers</option>
				<option value = "devteams">Teams</option>
				<option value = "publishers">Publishers</option>
				<option value = "platforms">Platforms</option>
			</select>
			<input type = "text" name = "search" placeholder = "search here...">
			<p style = "text-align:center;"> You can use these options to determine what attribute you want to search in for each category</p>
			
			<select name = "options1" placeholder = "choose an option">
				<option value = "GameID">Game ID</option>
				<option value = "Name">Game Name</option>
				<option value = "Price">Game Price</option>
				<option value = "Genre">Game Genre</option>
				<option value = "Rating">Game Rating</option>
				<option value = "Publisher">Game Publisher</option>
				<option value = "Platform">Game Platform</option>
				<option value = "Developer">Game Development Team</option>
			</select>&nbsp&nbsp
			
			<select name = "options2" placeholder = "choose an option">
			<label for = "options2"> Developer Attributes </label>
				<option value = "Name">Developer Name</option>
				<option value = "Experience">Developer Experience</option>
				<option value = "Game">Developer Game</option>
				<option value = "Team">Developer Team</option>
			</select>&nbsp&nbsp
			
			<select name = "options3" placeholder = "choose an option">
			<label for = "options3"> Development Team Attributes </label>
				<option value = "Name">Team Name</option>
				<option value = "Game">Team Game</option>
				<option value = "Size">Team Size</option>
			</select>&nbsp&nbsp
			
			<select name = "options4" placeholder = "choose an option">
			<label for = "options4"> Platform Attributes </label>
				<option value = "Name">Platform Name</option>
				<option value = "Game">Platform Game</option>
			</select>&nbsp&nbsp
			
			<select name = "options5" placeholder = "choose an option">
			<label for = "options5"> Publisher Attributes </label>
				<option value = "Name">Publisher Name</option>
				<option value = "Game">Publisher Game</option>
			</select>&nbsp&nbsp<br>
			
			<p style = "text-align:center;"> If you chose to search a numerical attribute (such as price) please choose 
			whether you are searching for items at the same, lesser, or greater value to your given value.</p>
			<select name = "sign" placeholder = "choose your sign">
				<option value = "None">None</option>
				<option value = "=">Equals</option>
				<option value = ">">Greater Than </option>
				<option value = "<">Less Than</option>
				<option value = ">=">Greater Than or Equal To</option>
				<option value = "<=">Less Than or Equal To</option>
			</select>
			<input type = "submit" name = "submit1">
		</form>
		<!--
		<div>
		<br><br>
		</div>
		
		<section>
			<nav> <h3> Extra Sorting Options </h3> </nav>
			
			<article> <p> Table section </p> </article> 
		</section>
		
		<footer> <p> Below the sorting options and table section </p> </footer>
		-->
	</body>
</html>